
ul {
    margin: 2%;
}

li {
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}

.container {
    /*float: left;*/
    padding: 10px;
    /*position: absolute;*/
    width: 50%;
}

/*.navbar {*/
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*padding: 2%;*/
/*}*/